.contentContainer {
  background-color: rgb(75, 75, 75);
}

.searchContainer {
  width: 600px;
  padding: 6px 12px;
  border-radius: 4px;
  display: flex;
  gap: 8px;
}

.inputContainer {
  flex: 1;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  color: #333;
}

.buttonSearch {
  width: 60px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #555;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountDetailsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  border-left: 6px;
}

.accountDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.summonerIcon {
  width: 100px;
  height: 100px;
  border-radius: 12px; /* Rounded edges, not circular */
  margin-bottom: 10px;
}

.summonerDisplay {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  gap: 6px;
}

.summonerName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.summonerLevel {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 10px;
  background-color: rgb(32, 45, 55);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summonerData {
  background-color: white;
}
.matchHistory {
  margin-top: 20px;
}

.matchCard {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.searchedParticipantCard {
  width: 694px;
  height: 96px;
  flex-direction: row;
  align-items: center;
  color: var(--lol-gray-500);
  display: flex;
  padding: 4px, 12px;
}

.gameInfo {
  width: 108px;
  height: 91px;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 2px;
}

.gameInfoType {
  align-items: baseline;
  flex-direction: column;
  display: flex;
  gap: 5px;
}
.gameInfoWinLoss {
  align-items: baseline;
  flex-direction: column;
  display: flex;
}

.searchedParticipantCard.win {
  background-color: #244180;
}

.searchedParticipantCard.loss {
  background-color: #852b3c;
}

.blueRedSpan.win {
  color: #5383e8;
  font-size: 12px;
}

.blueRedSpan.loss {
  color: #e84057;
  font-size: 12px;
}

.graySpan {
  display: block;
  font-family: Roboto, 'Roboto Fallback', sans-serif, system-ui, sans-serif;
  font-size: 12px;
  color: #9e9eb1;
}

.championInfo {
  width: 388px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 1.5px;
}

.itemPlaceholder.win {
  width: 22px;
  height: 22px;
  background-color: #3e4c83;
  border-radius: 0.25rem;
}

.itemPlaceholder.loss {
  width: 22px;
  height: 22px;
  background-color: #883d4a;
  border-radius: 0.25rem;
}

.championInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.spriteContainer {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
}

.championSprite {
  display: block;
  width: 48px;
  height: 48px;
  aspect-ratio: 48 / 48;
  color: transparent;
  border-radius: 50%;
  object-fit: cover;
}

.championSpriteLevel {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 10px;
  background-color: rgb(32, 45, 55);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SummonerSpellAndRunesContainer {
  width: 46px;
  height: 46px;
  display: flex;
  gap: 2px;
}

.SummonerSpellContainer {
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
}

.RunesContainer {
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
}

.KDAContainer {
  display: flex;
  flex-direction: column;
  width: 114px;
  height: 40px;
  gap: 0.5px;
}

.KDAScore {
  color: whitesmoke;
}

.death-text {
  color: red;
}

.KDAComparison {
  font-size: 12px;
  color: gray;
}

.KPCSRankContainer {
  width: 152px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.KPScore,
.CScore,
.AverageMatchRank {
  display: flex;
  color: gray;
  font-size: 12px;
  justify-content: left;
}

.RankedScore {
  display: flex;
  color: white;
  font-size: 12px;
  justify-content: left;
}

.matchParticipantsContainer {
  width: 164px;
  height: 88px;
  flex-direction: row;
  display: flex;
  gap: 4px;
}

.matchParticipantsGroupOne,
.matchParticipantsGroupTwo {
  width: 80px;
  height: 88px;
  display: flex;
  flex-direction: column;
}

.participantName {
  width: 60px;
  height: 16px;
  font-size: 12px;
  text-size-adjust: 100%;
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.participantItem {
  width: 60px;
  height: 16px;
  font-size: 12px;
  text-size-adjust: 100%;
  color: gray;
  display: flex;
}

.lobbyInfo {
  width: 164px;
  height: 88px;
}

.participantsContainer {
  display: flex;
  gap: 20px;
}

.participantsColumn {
  list-style: none;
  padding: 0;
  margin: 0;
}

.participantsColumn li {
  margin-bottom: 8px;
}

.displayMatchDetailsButtonContainer {
  width: 40px;
  height: 96px;
  position: relative;
  border-radius: 6px;
}

.matchDetailsButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 40px;
  height: 96px;
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.matchDetailsButton.win {
  background-color: #3e4c83;
  border-color: #3e4c83;
}
.matchDetailsButton.loss {
  background-color: #883d4a;
  border-color: #883d4a;
}

svg {
  width: 24px;
  height: 24px;
}

.arrowIcon {
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  margin-top: auto;
}

.arrowIcon.win {
  color: blue;
}

.arrowIcon.loss {
  color: red;
}

.arrowIcon.flipped {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.expandedMatchDetails {
  width: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
}

.expandedMatchDetails.open {
  width: 740px;
  height: 642px;
  border-radius: 6px;

  background-color: gray;
  opacity: 1;
}

.matchCardDisplayWrapper {
  display: flex;
  width: 740px;
  flex-direction: column;
  margin-bottom: 10px;
}

.matchCardDisplay {
  display: flex;
  align-items: center;
  width: 740px;
  height: 96px;
}

.expandedMatchDetailsSectionsWrapper {
  width: 732px;
  height: 36px;
  background-color: rgb(49, 49, 60);
  display: flex;
  font-size: 14;
  padding-left: 4px;
  padding-right: 4px;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.expandedMatchDetailsSectionsSelected {
  flex: 1;
  height: 28px;
  background-color: rgb(103, 102, 120);
  color: rgb(255, 255, 255);
  border-color: rgb(28, 28, 31);
  border-radius: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  row-gap: 4px;
  font-size: 14;
  text-align: center;
}

.expandedMatchDetailsSections {
  flex: 1;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  border-color: rgb(28, 28, 31);
  border-radius: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 14;
  text-align: center;
}

.frontalCard {
  width: 6px;
  height: 96px;
  background-color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.frontalCard.win {
  background-color: #0649d8;
}

.frontalCard.loss {
  background-color: #d50730;
}

.sectionContentWrapper {
}

.OverviewTeamHeader {
  width: 740px;
  height: 32px;
}

/* Todo */

/* .IvScoreWrapper {
}

.TeamAnalysisWrapper {
}

.BuildWrapper {
}

.EtcWrapper{

} */
