.contentContainer {
  background-color: rgb(75, 75, 75);
}

.searchContainer {
  width: 600px;
  padding: 6px 12px;
  border-radius: 4px;
  display: flex;
  gap: 8px; /* adds spacing between input and button */
}

.inputContainer {
  flex: 1;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  color: #333;
}

.buttonSearch {
  width: 60px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #555;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summonerData {
  background-color: white;
}
.matchHistory {
  margin-top: 20px;
}

.matchCard {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.searchedParticipantCard {
  width: 694px;
  height: 96px;
  flex-direction: row;
  align-items: center;
  color: var(--lol-gray-500);
  display: flex;
  border-radius: 5px; /* Rounds the corners by 10px */
  padding: 4px, 12px;
}

.gameInfo {
  width: 108px;
  height: 91px;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 2px;
}

.gameInfoType {
  align-items: baseline;
  flex-direction: column;
  display: flex;
  gap: 5px;
}
.gameInfoWinLoss {
  align-items: baseline;
  flex-direction: column;
  display: flex;
}

.searchedParticipantCard.win {
  background-color: #244180;
}

.searchedParticipantCard.loss {
  background-color: #852b3c;
}

.blueRedSpan.win {
  color: #5383e8;
  font-size: 12px;
}

.blueRedSpan.loss {
  color: #e84057;
  font-size: 12px;
}

.graySpan {
  display: block;
  font-family: Roboto, 'Roboto Fallback', sans-serif, system-ui, sans-serif;
  font-size: 12px;
  color: #9e9eb1;
}

.championInfo {
  width: 388px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 1.5px;
}

.itemPlaceholder.win {
  width: 22px;
  height: 22px;
  background-color: #3e4c83;
  border-radius: 0.25rem;
}

.itemPlaceholder.loss {
  width: 22px;
  height: 22px;
  background-color: #883d4a;
  border-radius: 0.25rem;
}

.championInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.spriteContainer {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
}

.championSprite {
  display: block;
  width: 48px;
  height: 48px;
  aspect-ratio: 48 / 48;
  color: transparent;
  border-radius: 50%;
  object-fit: cover;
}

.championSpriteLevel {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 10px;
  background-color: rgb(32, 45, 55);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SummonerSpellAndRunesContainer {
  width: 46px;
  height: 46px;
  display: flex;
  gap: 2px;
}

.SummonerSpellContainer {
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
}

.RunesContainer {
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
}

.KDAContainer {
  display: flex;
  flex-direction: column;
  width: 114px;
  height: 40px;
  gap: 0.5px;
}

.KDAScore {
  color: whitesmoke;
}

.death-text {
  color: red;
}

.KDAComparison {
  font-size: 12px;
  color: gray;
}

.KPCSRankContainer {
  width: 152px;
  height: 58px;
  display: flex;
  flex-direction: column; /* This will stack the child elements vertically */
  justify-content: left;
}

.KPScore,
.CScore,
.RankScore {
  display: flex;
  color: gray;
  font-size: 12px;
  justify-content: left; /* Optional: centers the content horizontally inside each flex container */
}

.matchParticipantsContainer {
  width: 164px;
  height: 88px;
}

.matchParticipantsGroupOne {
  display: flex;
  flex-direction: column;
  gap: 0.5px;
}

.matchParticipantsGroupTwo {
  display: flex;
  flex-direction: column;
  gap: 0.5px;
}

.lobbyInfo {
  width: 164px;
  height: 88px;
}

.participantsContainer {
  display: flex; /* Use Flexbox to align columns side by side */
  gap: 20px; /* Add space between the two columns */
}

.participantsColumn {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.participantsColumn li {
  margin-bottom: 8px; /* Add space between list items */
}
